## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors_price = pd.read_pickle('authors_price.pkl')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [3]:
grouped_price = authors_price.groupby("author_id")["price"]
authors_stat = pd.DataFrame({
    "author_name": authors_price["author_name"].unique(), 
    "min_price": grouped_price.min(), 
    "max_price": grouped_price.max(), 
    "mean_price": grouped_price.mean()
})
authors_stat

          author_name  min_price  max_price  mean_price
author_id
1            Тургенев        300        450  366.666667
2               Чехов        450        500  475.000000
3          Островский        290        370  330.000000